In [6]:
import numpy as np
import pandas as pd

In [7]:
books = pd.read_csv('Books.csv')
users = pd.read_csv('Users.csv')
ratings = pd.read_csv('Ratings.csv')

C:\Users\HP\AppData\Local\Temp\ipykernel_5824\1748781244.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

In [8]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [9]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [10]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [11]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [12]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [13]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [14]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [15]:
print(books.duplicated().sum(),
users.duplicated().sum(),
ratings.duplicated().sum())

0 0 0

# Popularity Based Recommender System

In [16]:
ratings_with_name = ratings.merge(books,on='ISBN')

In [17]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df.head()

                                          Book-Title  num_ratings
0   A Light in the Storm: The Civil War Diary of ...            4
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Ask Lily (Young Women of Faith: Lily Series, ...            1
4   Beyond IBM: Leadership Marketing and Finance ...            1

Now, we will replace the `num_ratings` by `avg_rating`
> average rating/sum of average of all

In [18]:
avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df.head()

                                          Book-Title  avg_rating
0   A Light in the Storm: The Civil War Diary of ...        2.25
1                              Always Have Popsicles        0.00
2               Apple Magic (The Collector's series)        0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...        8.00
4   Beyond IBM: Leadership Marketing and Finance ...        0.00

Now, We will be combining both columns `avg_rating`, `num-ratings`
on `Book-Title`

In [19]:
popular_df = num_rating_df.merge(avg_rating_df, on='Book-Title')
popular_df.head()

                                          Book-Title  num_ratings  avg_rating
0   A Light in the Storm: The Civil War Diary of ...            4        2.25
1                              Always Have Popsicles            1        0.00
2               Apple Magic (The Collector's series)            1        0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...            1        8.00
4   Beyond IBM: Leadership Marketing and Finance ...            1        0.00

Now, we will keep only those books whose rating is above 250

In [20]:
popular_df[popular_df['num_ratings']>=250]

,Book-Title,num_ratings,avg_rating
764,1984,284,4.454225
818,1st to Die: A Novel,509,3.575639
1048,2nd Chance,356,3.269663
1760,A Bend in the Road,346,3.364162
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
...,...,...,...
233850,White Oleander : A Novel,387,3.506460
233851,White Oleander : A Novel (Oprah's Book Club),356,3.772472
234740,Wicked: The Life and Times of the Wicked Witch...,326,3.766871
234951,Wild Animus,2502,1.019584
240860,"\O\"" Is for Outlaw""",269,2.988848

In [21]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating', ascending=False).head(50)
popular_df.head()

,Book-Title,num_ratings,avg_rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453

In [22]:
popular_df.merge(books, on='Book-Title')

,Book-Title,num_ratings,avg_rating,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
1,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136369,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...
2,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0786222743,J. K. Rowling,2000,Thorndike Press,http://images.amazon.com/images/P/0786222743.0...,http://images.amazon.com/images/P/0786222743.0...,http://images.amazon.com/images/P/0786222743.0...
3,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,0439139597,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
4,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,0439139600,J. K. Rowling,2002,Scholastic Paperbacks,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...
...,...,...,...,...,...,...,...,...,...,...
191,Lord of the Flies,259,3.818533,0698102193,William G. Golding,1978,Putnam Pub Group,http://images.amazon.com/images/P/0698102193.0...,http://images.amazon.com/images/P/0698102193.0...,http://images.amazon.com/images/P/0698102193.0...
192,A Prayer for Owen Meany,413,3.796610,0345361792,John Irving,1990,Ballantine Books,http://images.amazon.com/images/P/0345361792.0...,http://images.amazon.com/images/P/0345361792.0...,http://images.amazon.com/images/P/0345361792.0...
193,A Prayer for Owen Meany,413,3.796610,0345363523,John Irving,1989,Ballantine Books,http://images.amazon.com/images/P/0345363523.0...,http://images.amazon.com/images/P/0345363523.0...,http://images.amazon.com/images/P/0345363523.0...
194,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409,0345313860,ANNE RICE,1986,Ballantine Books,http://images.amazon.com/images/P/0345313860.0...,http://images.amazon.com/images/P/0345313860.0...,http://images.amazon.com/images/P/0345313860.0...
195,White Oleander : A Novel (Oprah's Book Club),356,3.772472,0316284955,Janet Fitch,2000,Back Bay Books,http://images.amazon.com/images/P/0316284955.0...,http://images.amazon.com/images/P/0316284955.0...,http://images.amazon.com/images/P/0316284955.0...

In [23]:
popular_df.merge(books, on='Book-Title').shape

(196, 10)

196 because, there are various books on Harry Potter, but they have differend ISB number

In [85]:
popular_df = popular_df.merge(books, on='Book-Title').drop_duplicates('Book-Title')[['Book-Title', 'Book-Author', 'Image-URL-M', 'num_ratings', 'avg_rating']]

This is the list of top 50 books to be displayed on website

# Collaborative Filtering Based Recommender System

Now, we will select only those users who have rated 200+ books 
> To select only active and experienced readers

In [25]:
ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200

User-ID
2         False
8         False
9         False
10        False
12        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: Book-Rating, Length: 92106, dtype: bool

In [100]:
#to print this in boolean and print only those who have read above 200
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200
experienced_users = x[x].index

We will now fetch only `experienced_users` form `User-ID`

In [101]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(experienced_users)]

Now that we have completed the user based filtering,, we will now do book based filtering

In [102]:
filtered_rating.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

we will do it on the basis of book title

In [103]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [104]:
final_rating = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [105]:
final_rating.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...

There are no duplicates on the dataset, you may check

In [106]:
pt = final_rating.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')

In [107]:
pt.head()

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
pt.fillna(0, inplace=True)

In [109]:
pt.head()

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Preprocessing of the data has now been done

### Now, we will make a model

`Each book is a point(vector) in 810 dimension coordinate system`

All you have to do is to find the distances from one to every other vector
> Eucledian Distance

we will now import cosine similarity metric from sklearn

In [36]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\book_recommender\env\lib\site-packages (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\book_recommender\env\lib\site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\book_recommender\env\lib\site-packages (from scikit-learn) (1.22.3)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\book_recommender\env\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\book_recommender\env\lib\site-packages (from scikit-learn) (2.2.0)

Was unable to get the library, so had to create the enviroment folder first

In [110]:
import sklearn

In [111]:
from sklearn.metrics.pairwise import cosine_similarity

In [112]:
cosine_similarity(pt).shape

(706, 706)

`(706,706)` signifies that we have got the Eucledean distance between 706 and 706 vectors

In [113]:
similarity_scores = cosine_similarity(pt)
similarity_scores

array([[1.        , 0.10255025, 0.01220856, ..., 0.12110367, 0.07347567,
        0.04316046],
       [0.10255025, 1.        , 0.2364573 , ..., 0.07446129, 0.16773875,
        0.14263397],
       [0.01220856, 0.2364573 , 1.        , ..., 0.04558758, 0.04938579,
        0.10796119],
       ...,
       [0.12110367, 0.07446129, 0.04558758, ..., 1.        , 0.07085128,
        0.0196177 ],
       [0.07347567, 0.16773875, 0.04938579, ..., 0.07085128, 1.        ,
        0.10602962],
       [0.04316046, 0.14263397, 0.10796119, ..., 0.0196177 , 0.10602962,
        1.        ]])

Found the distance between every book and every other book

Now, we will make a function which will take a book name as an input and give 5 other books (recommendations) as output

In [114]:
np.where(pt.index=='1984')[0][0]

0

In [115]:
np.where(pt.index=='2nd Chance')[0][0]

2

In [116]:
def recommend(book_name):
    
    # Job-1 : Fetch the Index
    index = np.where(pt.index==book_name)[0][0]
    
    # Job-2 : Find out the distance
    distance = similarity_scores[index]
    
    # Job-3 : Find the similar items
    similar_items = sorted(list(enumerate(similarity_scores[index])), key=lambda x:x[1], reverse=True)[1:6]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
        return data

In [117]:
sorted(list(enumerate(similarity_scores[0])))
# The similarity (distance) of all other books with the one in index 0

[(0, 0.9999999999999994),
 (1, 0.10255024829874465),
 (2, 0.012208555646509366),
 (3, 0.0),
 (4, 0.053672244225442485),
 (5, 0.027749013024662858),
 (6, 0.08216491130000354),
 (7, 0.13732869060263378),
 (8, 0.03261686350494277),
 (9, 0.03667590746512177),
 (10, 0.02322418425912186),
 (11, 0.06766486753662343),
 (12, 0.020839782065795794),
 (13, 0.09673734976610586),
 (14, 0.13388864701187034),
 (15, 0.08303111691811028),
 (16, 0.1115354275858341),
 (17, 0.051004105100675136),
 (18, 0.025177841632809915),
 (19, 0.11706383185253948),
 (20, 0.0),
 (21, 0.14333792815336935),
 (22, 0.07847534327232127),
 (23, 0.06150451339525138),
 (24, 0.08723968326958671),
 (25, 0.0),
 (26, 0.07009814362931202),
 (27, 0.1365868085547294),
 (28, 0.07600327535501016),
 (29, 0.12167133598776537),
 (30, 0.007680459111722776),
 (31, 0.01473221255132234),
 (32, 0.0),
 (33, 0.07965814289647455),
 (34, 0.04522616573040869),
 (35, 0.01556270914112474),
 (36, 0.09495937740802214),
 (37, 0.018230696811058135),
 (38, 0.026104653172312028),
 (39, 0.07984012108659384),
 (40, 0.11679968613719667),
 (41, 0.056912401804646934),
 (42, 0.08354155383339158),
 (43, 0.08471898090442946),
 (44, 0.08785938150991274),
 (45, 0.05491435163039676),
 (46, 0.054850498513470236),
 (47, 0.2702651417103732),
 (48, 0.09779122591837026),
 (49, 0.060160461842087495),
 (50, 0.08958834926611466),
 (51, 0.06748675491514017),
 (52, 0.0),
 (53, 0.044680983219421905),
 (54, 0.019208718234636258),
 (55, 0.0),
 (56, 0.056290668459108455),
 (57, 0.005579638588454276),
 (58, 0.07877058635507732),
 (59, 0.052194792200893965),
 (60, 0.18908176672188645),
 (61, 0.0),
 (62, 0.012406560213354146),
 (63, 0.029845724311982225),
 (64, 0.04279501979786338),
 (65, 0.12680124740531368),
 (66, 0.16566734565340113),
 (67, 0.0),
 (68, 0.13357242093379193),
 (69, 0.06615478064452682),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (73, 0.1096807501418389),
 (74, 0.02806606106883051),
 (75, 0.04521795287053612),
 (76, 0.02613276804655889),
 (77, 0.06876130890656589),
 (78, 0.013316271087745269),
 (79, 0.10519138203342883),
 (80, 0.03349456939792139),
 (81, 0.013634576553468258),
 (82, 0.2366937434740099),
 (83, 0.0),
 (84, 0.1039794092420736),
 (85, 0.06167753120046458),
 (86, 0.1417627291694863),
 (87, 0.11661082872914151),
 (88, 0.08331012208964668),
 (89, 0.00850895140653615),
 (90, 0.06715432766232284),
 (91, 0.0),
 (92, 0.1585082118281064),
 (93, 0.03280520241000348),
 (94, 0.010689154840164533),
 (95, 0.025797824097510556),
 (96, 0.02114858980511902),
 (97, 0.02687778911799567),
 (98, 0.02175821065382328),
 (99, 0.0),
 (100, 0.016016629607635186),
 (101, 0.12114265984279052),
 (102, 0.04768602689229997),
 (103, 0.058191840680734276),
 (104, 0.06510721558252526),
 (105, 0.0),
 (106, 0.047670497142785574),
 (107, 0.05273164983675109),
 (108, 0.02810009706063171),
 (109, 0.06524573363186935),
 (110, 0.021163446843373374),
 (111, 0.02097867986921867),
 (112, 0.07422249010392888),
 (113, 0.017527779718968118),
 (114, 0.03734566872286401),
 (115, 0.0),
 (116, 0.01579666260459111),
 (117, 0.1103944810687539),
 (118, 0.165272766123669),
 (119, 0.15514318804365945),
 (120, 0.06237453600241552),
 (121, 0.08139488796880032),
 (122, 0.056554138733275305),
 (123, 0.07458202717929566),
 (124, 0.03771888280719047),
 (125, 0.059363300295016304),
 (126, 0.02955369248311012),
 (127, 0.03355602562283),
 (128, 0.04734092759216691),
 (129, 0.010066425112509755),
 (130, 0.016719816747289874),
 (131, 0.07258934796997447),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (135, 0.02428501142412964),
 (136, 0.030678189040978528),
 (137, 0.09974980034668829),
 (138, 0.0),
 (139, 0.016901518597837405),
 (140, 0.024108621631248803),
 (141, 0.028108399645259814),
 (142, 0.0),
 (143, 0.0),
 (144, 0.0181287703514146),
 (145, 0.028808272598853126),
 (146, 0.0),
 (147, 0.05995157134958024),
 (148, 0.021276714965680187),
 (149, 0.10341190148072846),
 (150, 0.027667475691473428),
 (151, 0.10684794535545848),
 (152, 0.09898722239993361),
 (153, 0.1414518615569236),
 (154, 0.05007429159938883),
 (155, 0.09428288870384942),
 (156, 0.014112489355409683),
 (157, 0.0),
 (158, 0.07835976130061303),
 (159, 0.00882242400686552),
 (160, 0.04515898041752436),
 (161, 0.0),
 (162, 0.012814117802391826),
 (163, 0.04003333547158616),
 (164, 0.07477661367406771),
 (165, 0.012179056920074677),
 (166, 0.018873932015163516),
 (167, 0.026674838717939867),
 (168, 0.01432863977616057),
 (169, 0.1470284656227732),
 (170, 0.06087281632872059),
 (171, 0.025783211586063344),
 (172, 0.027418756526771074),
 (173, 0.0),
 (174, 0.14909595195082756),
 (175, 0.05606788035530558),
 (176, 0.0),
 (177, 0.03199916313406436),
 (178, 0.03643816906953526),
 (179, 0.0),
 (180, 0.01962921144060071),
 (181, 0.22222254415660225),
 (182, 0.015158449197584845),
 (183, 0.09673267751838878),
 (184, 0.02190023295408395),
 (185, 0.020135489410098205),
 (186, 0.05400331245399732),
 (187, 0.07262017448772083),
 (188, 0.011116365315772406),
 (189, 0.036498718026030004),
 (190, 0.05994663767295999),
 (191, 0.0),
 (192, 0.14691166711955864),
 (193, 0.020860053643757807),
 (194, 0.1035963528100001),
 (195, 0.09794374510256892),
 (196, 0.06609996896203728),
 (197, 0.12871083086643306),
 (198, 0.08992738703666601),
 (199, 0.011474570339750256),
 (200, 0.024601653277066596),
 (201, 0.0),
 (202, 0.18049207281616433),
 (203, 0.05141892092902459),
 (204, 0.047717402129725514),
 (205, 0.10849696385128584),
 (206, 0.13278139031675887),
 (207, 0.059152881703632795),
 (208, 0.053729841666378134),
 (209, 0.034785003361519164),
 (210, 0.0),
 (211, 0.09203038690315052),
 (212, 0.06388401351716998),
 (213, 0.04773328410790857),
 (214, 0.15570975499937129),
 (215, 0.0842069105937096),
 (216, 0.12338216998991305),
 (217, 0.08784690368235953),
 (218, 0.0820594460339464),
 (219, 0.12177532243608828),
 (220, 0.024337026385897676),
 (221, 0.00272862336930817),
 (222, 0.0),
 (223, 0.0),
 (224, 0.03671505063990275),
 (225, 0.1528098402276361),
 (226, 0.03709430441334803),
 (227, 0.07458136399603106),
 (228, 0.09746696979819942),
 (229, 0.05416091103251692),
 (230, 0.10266993316420167),
 (231, 0.0757441443938586),
 (232, 0.06426525769208898),
 (233, 0.03601739518550193),
 (234, 0.01559751952620105),
 (235, 0.02033558874805688),
 (236, 0.024635927968282654),
 (237, 0.0),
 (238, 0.03349154464789058),
 (239, 0.021353685011361416),
 (240, 0.019033695446023926),
 (241, 0.06806264765162154),
 (242, 0.020321161226731627),
 (243, 0.11784705785247843),
 (244, 0.07839488163675291),
 (245, 0.08422557655984436),
 (246, 0.0),
 (247, 0.02040796206066411),
 (248, 0.0),
 (249, 0.046982457315643385),
 (250, 0.08294512991462386),
 (251, 0.13974513728492968),
 (252, 0.012345246102533871),
 (253, 0.13510607638008787),
 (254, 0.07423488726781508),
 (255, 0.11841889291663141),
 (256, 0.049300912125160704),
 (257, 0.016216682151444957),
 (258, 0.026330228561191004),
 (259, 0.04815971759587031),
 (260, 0.019598256153707194),
 (261, 0.10174252819190155),
 (262, 0.13257638388225185),
 (263, 0.0),
 (264, 0.055102704646119355),
 (265, 0.018611497829688243),
 (266, 0.0),
 (267, 0.04504597870526374),
 (268, 0.03482458685305275),
 (269, 0.1650329228149958),
 (270, 0.08466191294337998),
 (271, 0.06795352889900172),
 (272, 0.029876534978291205),
 (273, 0.0),
 (274, 0.0),
 (275, 0.08781992709390865),
 (276, 0.07885279086963547),
 (277, 0.04799058127298857),
 (278, 0.014679640011206505),
 (279, 0.021238372796229556),
 (280, 0.04549923467689111),
 (281, 0.08673968616705958),
 (282, 0.00885998445194921),
 (283, 0.028806369616477166),
 (284, 0.020221447157344582),
 (285, 0.024141217209915328),
 (286, 0.12548312467838352),
 (287, 0.0),
 (288, 0.02482518222135733),
 (289, 0.06520605980064662),
 (290, 0.0),
 (291, 0.06069830203664196),
 (292, 0.011778242975805127),
 (293, 0.13974104783917973),
 (294, 0.019788442258843547),
 (295, 0.012608239194211564),
 (296, 0.08608600626732467),
 (297, 0.04433882752568145),
 (298, 0.029430847399312027),
 (299, 0.022424955017243866),
 (300, 0.06541867556977009),
 (301, 0.07866868132289853),
 (302, 0.14281398522002717),
 (303, 0.11979305199464946),
 (304, 0.01858409288796079),
 (305, 0.13445376799866068),
 (306, 0.04809338200514574),
 (307, 0.0979064447776707),
 (308, 0.0),
 (309, 0.17415730924332484),
 (310, 0.07437756212042423),
 (311, 0.0),
 (312, 0.1238906533021012),
 (313, 0.010423913217045038),
 (314, 0.025808491020821493),
 (315, 0.0),
 (316, 0.08951389572154368),
 (317, 0.04005551020725377),
 (318, 0.19182230688281934),
 (319, 0.02267512161790004),
 (320, 0.017303468493582226),
 (321, 0.03054044240047009),
 (322, 0.07008822463577412),
 (323, 0.10084626149563478),
 (324, 0.10467615354986062),
 (325, 0.016834621675675482),
 (326, 0.12468283384023092),
 (327, 0.10266459423639844),
 (328, 0.035498355256648746),
 (329, 0.026674838717939867),
 (330, 0.07652764821891074),
 (331, 0.08474055728984814),
 (332, 0.018319772326554337),
 (333, 0.021774817728178283),
 (334, 0.15293362041446346),
 (335, 0.0),
 (336, 0.0),
 (337, 0.010632508151830204),
 (338, 0.021530886296301118),
 (339, 0.02946442510264468),
 (340, 0.0),
 (341, 0.020767833514212724),
 (342, 0.011948245768325256),
 (343, 0.009536746594659161),
 (344, 0.20675540390454),
 (345, 0.015542921836058245),
 (346, 0.03902659506471766),
 (347, 0.06681045925540752),
 (348, 0.09014973218560086),
 (349, 0.05914734917065386),
 (350, 0.06206857320564754),
 (351, 0.0),
 (352, 0.020059585724360268),
 (353, 0.07843565693314272),
 (354, 0.16337845332530374),
 (355, 0.07161075491687474),
 (356, 0.0),
 (357, 0.1459525808785892),
 (358, 0.07561631141753604),
 (359, 0.029397384230560795),
 (360, 0.047796293241950796),
 (361, 0.018072383204619496),
 (362, 0.11362722122094872),
 (363, 0.09791273187403503),
 (364, 0.07999692625971765),
 (365, 0.0891233745026412),
 (366, 0.10941777035919222),
 (367, 0.0),
 (368, 0.02115842407200956),
 (369, 0.060039300152930415),
 (370, 0.017971540540139944),
 (371, 0.05755407693373189),
 (372, 0.021668631362692693),
 (373, 0.09754449459555777),
 (374, 0.13107651944057502),
 (375, 0.0),
 (376, 0.06829903941402894),
 (377, 0.09132921952528268),
 (378, 0.0),
 (379, 0.02781406274224919),
 (380, 0.015333681815045101),
 (381, 0.06113178628791212),
 (382, 0.017572862308732076),
 (383, 0.024712941476041382),
 (384, 0.018015801292409934),
 (385, 0.1178980615083171),
 (386, 0.06468143253238315),
 (387, 0.1390419059870689),
 (388, 0.0),
 (389, 0.06671644037106779),
 (390, 0.0),
 (391, 0.0),
 (392, 0.05762086381548707),
 (393, 0.02266096293926825),
 (394, 0.008448763927099017),
 (395, 0.02297481006625077),
 (396, 0.07136276113078666),
 (397, 0.1530551446766823),
 (398, 0.06039873575147916),
 (399, 0.0),
 (400, 0.08996912406728536),
 (401, 0.015459465622161536),
 (402, 0.10135299399598713),
 (403, 0.0),
 (404, 0.016763442237401817),
 (405, 0.0),
 (406, 0.05021880312673623),
 (407, 0.16041182196659062),
 (408, 0.0),
 (409, 0.1343973311768824),
 (410, 0.12508513698245888),
 (411, 0.02329035016031528),
 (412, 0.019872703940133213),
 (413, 0.011056735115042383),
 (414, 0.025480338679592467),
 (415, 0.0089604367821904),
 (416, 0.0824612198578452),
 (417, 0.01902896010686717),
 (418, 0.07025002832914887),
 (419, 0.021636698437203145),
 (420, 0.1282298199003782),
 (421, 0.0999877199669616),
 (422, 0.08642894687915843),
 (423, 0.0635519690782283),
 (424, 0.028830240654024085),
 (425, 0.04335826491498011),
 (426, 0.04706590154362337),
 (427, 0.0522373263993224),
 (428, 0.0),
 (429, 0.08982750671022352),
 (430, 0.00875634332679306),
 (431, 0.0992354177657422),
 (432, 0.10228551050235933),
 (433, 0.0),
 (434, 0.12307492189941618),
 (435, 0.01758928833928951),
 (436, 0.020281245334279798),
 (437, 0.1033826953037451),
 (438, 0.130281708532021),
 (439, 0.08988894455657524),
 (440, 0.09005001295005992),
 (441, 0.05332049434044375),
 (442, 0.08033435626539932),
 (443, 0.045977952103493924),
 (444, 0.061398875647666676),
 (445, 0.023007092325074995),
 (446, 0.023049037833599993),
 (447, 0.06523041320455897),
 (448, 0.01915362558614925),
 (449, 0.0),
 (450, 0.04542765998492866),
 (451, 0.0),
 (452, 0.0),
 (453, 0.05261953990010256),
 (454, 0.01317087876205714),
 (455, 0.0),
 (456, 0.0),
 (457, 0.048593102089385304),
 (458, 0.07348190409223959),
 (459, 0.10354480865656568),
 (460, 0.0171880657878069),
 (461, 0.09919937023309428),
 (462, 0.08091989315700655),
 (463, 0.0035883533320389396),
 (464, 0.04757132169040053),
 (465, 0.11122764671322921),
 (466, 0.05143480653633815),
 (467, 0.05666140304625101),
 (468, 0.0),
 (469, 0.060877194204984726),
 (470, 0.10800615252570414),
 (471, 0.0),
 (472, 0.0755468596127809),
 (473, 0.0),
 (474, 0.13644383961641227),
 (475, 0.04796762686649386),
 (476, 0.16104067376144765),
 (477, 0.0),
 (478, 0.017598641856748937),
 (479, 0.05438295377092604),
 (480, 0.0),
 (481, 0.08100800937525751),
 (482, 0.13090710604063543),
 (483, 0.00581843892000093),
 (484, 0.07150547342980032),
 (485, 0.05428487095514969),
 (486, 0.06143184266443724),
 (487, 0.051616531477964966),
 (488, 0.19511819825564608),
 (489, 0.11494879598141551),
 (490, 0.06513046875777172),
 (491, 0.06401961292305569),
 (492, 0.0),
 (493, 0.0),
 (494, 0.10853661984252007),
 (495, 0.11400426236261282),
 (496, 0.046392498261486066),
 (497, 0.018252769789423258),
 (498, 0.0),
 (499, 0.011952011165403655),
 (500, 0.21057743765309014),
 (501, 0.058097069301565475),
 (502, 0.043491562429456586),
 (503, 0.02646255704581015),
 (504, 0.07276403383736725),
 (505, 0.052648569756544576),
 (506, 0.07242165076731459),
 (507, 0.06790897506872169),
 (508, 0.016265641643564675),
 (509, 0.024318094429406693),
 (510, 0.020935646634428463),
 (511, 0.13617057407600314),
 (512, 0.11784149206441577),
 (513, 0.08588206473402643),
 (514, 0.0928435169211848),
 (515, 0.11277296885857815),
 (516, 0.06868983304237651),
 (517, 0.08200947294838495),
 (518, 0.13369059478865902),
 (519, 0.0),
 (520, 0.19972624710300058),
 (521, 0.0228620664348094),
 (522, 0.08062879942666365),
 (523, 0.0),
 (524, 0.057560148077814344),
 (525, 0.06738056011305654),
 (526, 0.0),
 (527, 0.19656287691544358),
 (528, 0.06306425554305627),
 (529, 0.03499381360818396),
 (530, 0.06123118935155921),
 (531, 0.09596456280564838),
 (532, 0.021801683645525486),
 (533, 0.023175154774464087),
 (534, 0.06476148889541151),
 (535, 0.07052240553428667),
 (536, 0.08280451731096075),
 (537, 0.17008719986228352),
 (538, 0.07213921021695388),
 (539, 0.011722012964226876),
 (540, 0.08541217689607684),
 (541, 0.17990898085771032),
 (542, 0.08007284499901246),
 (543, 0.017396246144706713),
 (544, 0.1672877700938274),
 (545, 0.26396193711234966),
 (546, 0.18408910419891056),
 (547, 0.05600272988869),
 (548, 0.04133585716291763),
 (549, 0.06911014966082911),
 (550, 0.1445684727872654),
 (551, 0.2262639743141286),
 (552, 0.1920889620576415),
 (553, 0.023933399289577127),
 (554, 0.2002506370678305),
 (555, 0.015076532862248153),
 (556, 0.05144282019851702),
 (557, 0.12333680291383342),
 (558, 0.14201659839857333),
 (559, 0.024720785609384784),
 (560, 0.08563805381851426),
 (561, 0.023634261138311616),
 (562, 0.1279402426979562),
 (563, 0.01083152786792504),
 (564, 0.07352435567112062),
 (565, 0.09532519178944056),
 (566, 0.03421894679431926),
 (567, 0.07194211851914269),
 (568, 0.022970785411852147),
 (569, 0.15344079020689355),
 (570, 0.08856301637769422),
 (571, 0.0),
 (572, 0.0),
 (573, 0.018786559700050654),
 (574, 0.09772941568150427),
 (575, 0.044043586511889346),
 (576, 0.15211972188253267),
 (577, 0.015222501642298877),
 (578, 0.10307399310158656),
 (579, 0.057157891413611744),
 (580, 0.046000562607200646),
 (581, 0.06303898971663936),
 (582, 0.06572303470837207),
 (583, 0.14421330855040418),
 (584, 0.08272478073987326),
 (585, 0.0),
 (586, 0.04203701143606598),
 (587, 0.022760772453994885),
 (588, 0.1738182944100774),
 (589, 0.019099672781938637),
 (590, 0.16000267935045498),
 (591, 0.1468148574991744),
 (592, 0.0),
 (593, 0.05940546334243634),
 (594, 0.07725115117942094),
 (595, 0.07464762808145006),
 (596, 0.06546695823953794),
 (597, 0.07021576771146076),
 (598, 0.18921367782346202),
 (599, 0.02494136129371724),
 (600, 0.017050265851722604),
 (601, 0.05437622462310082),
 (602, 0.04932819154504025),
 (603, 0.0),
 (604, 0.1144539948977886),
 (605, 0.08001595368794219),
 (606, 0.1285851502948571),
 (607, 0.023066582966561253),
 (608, 0.06129105448105361),
 (609, 0.02090768582511093),
 (610, 0.04550867061591275),
 (611, 0.10266590131312461),
 (612, 0.10725981836116358),
 (613, 0.026053401473749117),
 (614, 0.0017370894470936135),
 (615, 0.09872940458571848),
 (616, 0.0807748212690039),
 (617, 0.02159225803102367),
 (618, 0.016142753550857224),
 (619, 0.020846396819831855),
 (620, 0.09797466122629746),
 (621, 0.019067312487474012),
 (622, 0.18571699439818884),
 (623, 0.053445774200822666),
 (624, 0.18925313707609975),
 (625, 0.05894189200911533),
 (626, 0.014881608648267744),
 (627, 0.12024780353669523),
 (628, 0.09840359079895453),
 (629, 0.010481255663709239),
 (630, 0.10596223905942811),
 (631, 0.07617194789896939),
 (632, 0.08054389803075192),
 (633, 0.0),
 (634, 0.23299389358170394),
 (635, 0.01073641547918824),
 (636, 0.13573542468856645),
 (637, 0.045785523306335146),
 (638, 0.14440017099395475),
 (639, 0.0),
 (640, 0.12522954271046705),
 (641, 0.06455010070487521),
 (642, 0.02817521704586765),
 (643, 0.1444555917585842),
 (644, 0.017210453378914768),
 (645, 0.09508161331593905),
 (646, 0.05179020017229585),
 (647, 0.1841081817659337),
 (648, 0.08704223712018071),
 (649, 0.10990764051155279),
 (650, 0.10850377176901972),
 (651, 0.03954864515701187),
 (652, 0.03836309816637586),
 (653, 0.02463490862737704),
 (654, 0.07845404559691257),
 (655, 0.03455547895208963),
 (656, 0.030076807297674774),
 (657, 0.024840764583155147),
 (658, 0.04223674045619745),
 (659, 0.14444516556944695),
 (660, 0.12340233502840116),
 (661, 0.015102006885841438),
 (662, 0.028443700563612766),
 (663, 0.021320163671431275),
 (664, 0.07391777683093743),
 (665, 0.08904275766583061),
 (666, 0.1589387141616799),
 (667, 0.06947573726333098),
 (668, 0.010607867311865709),
 (669, 0.0),
 (670, 0.09993168845101595),
 (671, 0.05711356172333468),
 (672, 0.09488374038474037),
 (673, 0.009489432211152974),
 (674, 0.13365875731715243),
 (675, 0.057940637804840725),
 (676, 0.0),
 (677, 0.0672128392842741),
 (678, 0.020669978441948792),
 (679, 0.0),
 (680, 0.018394279624570017),
 (681, 0.0),
 (682, 0.1265536444037226),
 (683, 0.08418288167449578),
 (684, 0.09095705260744957),
 (685, 0.007305889033771798),
 (686, 0.08143881222401984),
 (687, 0.0),
 (688, 0.042188025333763236),
 (689, 0.0839284865111645),
 (690, 0.07785800873431292),
 (691, 0.0),
 (692, 0.07151793939760116),
 (693, 0.02407593195976403),
 (694, 0.016351262734144115),
 (695, 0.03734566872286401),
 (696, 0.05237226614377158),
 (697, 0.011401692977613393),
 (698, 0.009687245558530464),
 (699, 0.12530648498478347),
 (700, 0.009099054369341325),
 (701, 0.05864096359154978),
 (702, 0.017696441246693336),
 (703, 0.12110366748083307),
 (704, 0.07347566833900478),
 (705, 0.04316045784191231)]

* enumerate: To give the numberto the list
* Also, Note that the above sorting is on the basis of index, we will have to introduce lambda

In [118]:
sorted(list(enumerate(similarity_scores[0])), key=lambda x:x[1], reverse=True)[1:6]

[(47, 0.2702651417103732),
 (545, 0.26396193711234966),
 (82, 0.2366937434740099),
 (634, 0.23299389358170394),
 (551, 0.2262639743141286)]

In [119]:
recommend('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg']]

# End of the Model, Now go to vscode and create the webpage

In [120]:
final_rating['Image-URL-M'][63]

'http://images.amazon.com/images/P/0446520802.01.MZZZZZZZ.jpg'

# Now, we will use pickle to export

In [121]:
import pickle
pickle.dump(popular_df, open('popular.pkl', 'wb'))

In [122]:
pickle.dump(pt, open('pt.pkl','wb'))
pickle.dump(books, open('books.pkl','wb'))
pickle.dump(similarity_scores, open('similarity-scores.pkl', 'wb'))

In [123]:
popular_df.head()

,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453